main h1 {
    border-bottom: .1em solid black;
    font-family: cursive;
    line-height: 2em;

}
.projectMainDivs {
    border: .5em solid black;
    background-color: white;
    height: 18em;
    padding: 2em;
    margin-bottom: 2em;
}
#firstProjectPhoto {
    float: right;
    max-width: 100%;
    width: 100px;
    padding-left: 10px;
}
#secondProjectPhoto {
    float: right;
    max-width: 100%;
    width: 160px;
    padding-left: 10px;
}
#thirdProjectPhoto {
    float: right;
    max-width: 100%;
    width: 160px;
    padding-left: 10px;
}
p{
    font-size: 1.6em;
    font-family: sans-serif;
    line-height: 1.3em;
    text-indent: 1em;
}